<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="w3-container w3-padding-large" style="max-width: 1000px">
      <h4><%= article.title %></h4>
      <p class="w3-opacity"><%= article.createdAt.toLocaleDateString() %></p>
      <div class="w3-bar">
        <a href="/" class="w3-button w3-green">All articles</a>
        <a href="/articles/edit/<%= article.id %>" class="w3-button w3-grey"
          >Edit</a
        >
      </div>
      <hr class="w3-blue-grey w3-opacity" style="border: 1px solid" />

      <p><%- article.sanitizeHtml %></p>
    </div>
  </body>
</html>
